DATABASE_URL=postgresql://user:password@db:5432/app
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=app
SECRET_KEY=supersecret
ALGORITHM=HS256
FACE_IMAGE_UPLOAD_DIR=app/images/uploads
FACE_MATCH_TOLERANCE=0.48
